PORT=5000
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb://localhost:27017/hotel_booking
JWT_SECRET=hotel_booking_jwt_secret_key_2026

SERVER_URL=http://localhost:5000

# VNPay sandbox
VNPAY_TM_CODE=DHQ6U3T3
VNPAY_HASH_SECRET=YUIN11RLKTV8FC0N4LKN1PW595JMACJG
VNPAY_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:5000/api/payments/vnpay/callback

# SMTP Gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=phamquyetchien01256@gmail.com
SMTP_PASS=mgmqoboseklizvua

# OCR Space (đọc CCCD)
OCR_SPACE_URL=https://api.ocr.space/parse/image
OCR_SPACE_API_KEY=K88966646688957
